.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  .grid-item {
    background-color: rgba(230, 21, 21, 0.8);
    font-size: 30px;
  }




p{

color: blue;
font-size: 35px;
}
li{
    color:black;
    font-size: 30px;
}
form{

    color: yellowgreen;
    font-size: 30px;
}
h1{
    font-size: 50px;
}
input{

    font-size: 50px;
}
#d{
    font-size: 35px;
}